.text_about {
  display: flex;
  padding: 50px 10px;
  opacity: 0.5;
  margin: 0 auto;
  max-width: 1490px;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 20px;
  h5 {
    width: 50%;
    text-align: left;
    text-transform: none;
  }
  p {
    width: 50%;
    text-align: left;
    margin: 0;
    font-size: 16px;
  }
}
.box-icon-modern-icon {
  padding-top: 40px;
}
.box-icon-modern {
  a {
    color: #000;
  }
  a:hover {
    color: #72d5a5;
  }
}
.box-icon-modern-2 * + .box-icon-modern-title {
  margin-top: 0;
}

* + .box-icon-modern-title {
  margin-top: 0;
}
@media (max-width: 768px) {
  .text_about {
    display: flex;
    padding: 50px 10px;
    opacity: 0.5;
    margin: 0 auto;
    max-width: 1490px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-direction: column;
  }
  .text_about p {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 16px;
  }
  .text_about h5 {
    width: 100%;
    text-align: left;
    text-transform: none;
    font-size: 26px;
  }
}
